@import "variables.scss";

body,
html {
	min-height: 100vh;
}

* {
  box-sizing: border-box;
  font-family: "Yeon Sung", cursive !important;
}

#root {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.App {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  background-color: $bgColor;
  display: flex;
  min-height: 100vh;
  width: 100%;

  .header {
    .title {
      font-weight: 600;
      color: $faded;
    }
  }

  .correct {
    background-color: $correctAnswerColor;
    color: $bright;
  }

  .wrong {
    background-color: $wrongAnswerColor;
    color: $bright;
  }

  .correct-text {
    color: $correctAnswerColor;
  }

  .wrong-text {
    color: $wrongAnswerColor;
  }

  .custom-snackbar {
    background-color: $surfColor;
  }

  .game-card {
    background-color: $surfColor;

    .score {
      margin-top: 0;
      font-weight: 400;
    }

    .city-couple {
      display: flex;
      flex-direction: row;
      margin-bottom: 1rem;
      @media screen and (max-width: 750px) {
        flex-direction: column;
        .city-box {
          padding: 1rem 0 0;
        }
      }
    }

    .city-box {
      padding: 1rem 1rem 1rem 0;
      &-button {
        transition: all 0.2s ease-out;
        &-label {
          display: flex;
          flex-direction: column;
          .title {
            text-transform: capitalize;
            font-size: 22pt;
            font-weight: 700;
          }

          .temp {
            color: darken($bright, 30%);
            font-size: 16pt;
            transition: all 0.2s ease-out;
            transform: scale3d(1, 0, 1);
          }
        }

        &.correct {
          background-color: $correctAnswerColor !important;
          .city-box-button-label {
            .title {
              color: $bright;
            }
            .temp {
              color: darken($bright, 5%);
            }
          }
        }
        &.incorrect {
          .city-box-button-label {
            .title {
              color: $disabled;
            }
            .temp {
              color: $disabled;
            }
          }
        }

        &.correct,
        &.incorrect {
          .city-box-button-label {
            .temp {
              transform: scale3d(1, 1, 1);
            }
          }
        }
      }
    }

    .log-wrapper,
    .options-wrapper {
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column; 
    }

    .log-wrapper {
      .log-list-wrapper {
        max-height: 500px;
        overflow: auto;
      }
      .log-item {
        justify-content: space-between;
        &-result {
          display: flex;
          flex-direction: row;
          align-items: center;
          min-width: 200px;
        }
        &-content {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-end;
  
          .log-chip {
            margin: 0.25rem;
          }
  
          @media screen and (max-width: 750px) {
            flex-direction: column;
            width: 100%
          }
        }

        @media screen and (max-width: 750px) {
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }
  }
}
