$primary: #3f51b5;
$faded: rgba(0, 0, 0, 0.2);
$bgColor: lighten($primary, 48%);
$surfColor: rgb(255, 255, 255);
$correctAnswerColor: rgb(0, 216, 126);
$wrongAnswerColor: #ff7860;
$bright: #fff;
$disabled: rgba(128, 128, 128, 0.5);

$borderRadius: 4px;